#editor {
    margin: 0;
    position: absolute;
    top: 0;
    bottom: 50%;
    left: 0;
    right: 0;
    font-size: 14px;
}

#extra {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    width: 100%;
    height: 50%;
    font-size: 16px;
    word-wrap: break-word;
}

#editor-result {
    width: 100%;
    font-size: 16px;
    word-wrap: break-word;
    height: 85%;
}

.run-buttons {
    font-family: inherit;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    background-color: #e7e7e7;
    color: black;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

pre {
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.row {
    float: left;
    margin-left: 1px;
}
